body
{
  margin:0;
  padding:0;
  border:0;
  font-family: Tahoma, Geneva, sans-serif;
  font-size:12px;
  color:#808080;
  background-color:#fff;
}
.body
{
  width:872px;
  padding-top:5px;
  height:100%;
  margin:0 auto;
}
div
{
  border:0;
  margin:0;
  padding:0;
}
a
{
  color:#F48843;
  text-decoration:none;
}
a:hover
{
  text-decoration:underline;
}
a,
label
{
  cursor:pointer;
}
a img
{
  border:0;
}
img
{
  vertical-align:middle;
}
.content{
	height:100%;
}
.content-left-side{
	float:left;
	display:block;
}
.cms-google-map{
    margin-top:10px;
	display:block;
	width:400px;
	height:400px;
    margin-left:90px;
}
#map-container{
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
    display:block;
}
.single-object-container{
	display:block;
	width: 400px;
}
.object-field{
	display:block;
	width:100%;

        float:left;
        position:relative;
}
.object-field-text{
	display:block;
	width:100%;
        height:380px;
        float:left;
}
.object-field-title{
	font-weight:bold;
	width:150px;
	display:block;

	float:left;
}
.object-select-editor{
	width:230px;
	float:left;
}
.object-select-editor-single{
	width:248px;
	float:left;
}

.object-text-editor{
	width:246px;
	float:left;
}
.object-text-editor-title{
    width:100%;
    float:left;
}
.object-text-area{
	width:246px;
        height:250px;
	float:left;
}

.object-text-editor-container{
    float:left;
    display:block;
    width:100%;
}

.show-hide-container{
    display:block;
    overflow:hidden;
    border:1px solid rgb(220,220,220);
    padding-top:10px;
}


.logo-index
{
  margin-top:5%;
}
.blue
{
  color:#0091B9;
}
.grey
{
  color:#999;
}
.black
{
  color:#000;
}
.dialog
{
  width:500px;
  height:270px;
  margin:0 auto;
  background:url(../images/cms/dialog.png) no-repeat;
}
.dialog .top
{
  height:48px;
  line-height:48px;
  text-align:center;
}
.dialog .brick
{
  width:100px;
  margin-right:10px;
  float:left;
  text-align:left;
  color:#666;
  font-weight:bold;
  line-height:20px;
}
.txt
{
  height:17px;
  padding-top:2px;
}
.read-txt{
    margin-top:5px;
    float:left;
    display:block;
}
.dialog .txt
{
  width:245px;
  vertical-align:middle;
}
.dialog .pad .big
{
  margin-bottom:20px;
}
.pad
{
  padding:20px;
}
.dialog .btn
{
  margin-left:280px;
}
.dialog-button{
    margin-top:5px;
}
.big
{
  font-size:18px;
  letter-spacing:1px;
}
.dialog .btn
{
  border:0;
  background:url(../images/cms/big_btn.gif);
  width:98px;
  height:31px;
}
.dialog .btn:hover
{
  background:url(../images/cms/big_btn_hvr.gif);
}
.hr
{
  border-bottom:1px solid #e7e7e7;
  height:1px;
  clear:both;
}
.fl
{
  float:left;
}
.fl table{
    background-color:transparent !important;

}
.fl table tr{
    border:none !important;
}
.fl table tr td{
    padding: 0px !important;
}
.object-label{
    margin-top:5px;
    height: 20px;
    display:block;
}
.fr
{
  float:right;
}
.fr .txt{
  margin-right:2px;
}
.small
{
  font-size:11px;
}
.clear
{
  clear:both;
}
.mtb
{
  margin:8px 0;
}

.mark
{
  border:1px solid red;
}
.topmenu
{
  width:100%;
  background:url("../images/cms/topmenu_bg.png") repeat-x;
  height:40px;
  line-height:38px;
}
.sections
{
  border-left:1px solid #999;
}
.sections a
{
  float:left;
  width:100px;
  height:40px;
  color:#000;
  text-align:center;
  border-right:1px solid #999;
}
.sections .current,
.sections .current:hover
{
  background:url("../images/cms/topmenu_current.png") repeat-x;
  color:#fff;
}
.sections a:hover
{
  background:url("../images/cms/topmenu_hvr.png") repeat-x;
  text-decoration:none;
}
.topmenu .l,
.topmenu .r
{
  width:20px;
  height:40px;
}
.topmenu .l
{
  float:left;
  background:url("../images/cms/topmenu_l.png") no-repeat;
}
.topmenu .r
{
  float:right;
  background:url("../images/cms/topmenu_r.png") no-repeat;
}
/* parastajām formām */
.bigbox
{
  width:760px;
  float:left;
}
/* list inline formām */
.inbigbox{
  width:720px;
  float:left;
}
.inbigbox .m, .bigbox .m
{
  background: url(../images/cms/bigbox/m.gif)
}
.inbigbox .b, .bigbox .b
{
  background: url(../images/cms/bigbox/b.gif) repeat-x bottom;
}
.inbigbox .t, .bigbox .t
{
  background: url(../images/cms/bigbox/t.gif) repeat-x top
}
.inbigbox .l, .bigbox .l
{
  background: url(../images/cms/bigbox/l.gif) repeat-y left
}
.inbigbox .r, .bigbox .r
{
  background: url(../images/cms/bigbox/r.gif) repeat-y right
}
.inbigbox .br, .bigbox .br
{
  background: url(../images/cms/bigbox/br.gif) no-repeat bottom right
}
.inbigbox .bl, .bigbox .bl
{
  background: url(../images/cms/bigbox/bl.gif) no-repeat bottom left
}
.inbigbox .tr, .bigbox .tr
{
  background: url(../images/cms/bigbox/tr.gif) no-repeat top right
}
.inbigbox .tl, .bigbox .tl
{
  background: url(../images/cms/bigbox/tl.gif) no-repeat top left
}
.box
{
  padding:10px;
}
.footer
{
  margin-top:30px;
}
.footer .fr
{
  padding:10px;
}
.tar
{
  text-align:right;
}
.add
{
  width:122px;
  display:block;
  line-height:26px;
  padding-left:30px;
  text-align:left;
  letter-spacing:1px;
  background:url("../images/cms/add.gif") no-repeat;
}
.ntd,
.ntd:hover
{
  text-decoration:none;
}
.add:hover
{
  background:url("../images/cms/add_hvr.gif") no-repeat;
  color: black;
}

.bigbox .box .top
{
}
.bigbox .hr
{
  margin:10px 0;
  *height:10px;
}
.bigbox .big
{
  margin-top:4px;
}

.btn
{
  border:0;
  background:url(../images/cms/btn.gif) no-repeat;
  width:82px;
  height:26px;
}
.btn:hover
{
  background:url(../images/cms/btn_hvr.gif) no-repeat;
}
input
{
  vertical-align:middle;
}

.chk
{
  border:0;
}
table
{
  width:100%;
  border-collapse:collapse;
  background-color:#F9FDFF;
}
tr
{
  border-bottom:1px solid #e7e7e7;
}
tr.inline{
  border:none;
}
th,
td
{
  padding:4px;
}
.even
{
  background-color:#F0F9FE;
}
th
{
  text-align:left;
  background:#D2D2D2;
  white-space: nowrap;
}
table a
{
  color:#0091B9;
}

.smallbox
{
  width:208px;
  float:right;
  clear:right;
  margin-bottom:12px;
}
.smallbox .m
{
  background: url(../images/cms/smallbox/m.gif);
}
.smallbox .b
{
  background: url(../images/cms/smallbox/b.gif) repeat-x bottom;
}
.smallbox .t
{
  background: url(../images/cms/smallbox/t.gif) repeat-x top
}
.smallbox .l
{
  background: url(../images/cms/smallbox/l.gif) repeat-y left
}
.smallbox .r
{
  background: url(../images/cms/smallbox/r.gif) repeat-y right
}
.smallbox .br
{
  background: url(../images/cms/smallbox/br.gif) no-repeat bottom right
}
.smallbox .bl
{
  background: url(../images/cms/smallbox/bl.gif) no-repeat bottom left
}
.smallbox .tr
{
  background: url(../images/cms/smallbox/tr.gif) no-repeat top right
}
.smallbox .tl
{
  background: url(../images/cms/smallbox/tl.gif) no-repeat top left
}

.smallbox a
{
  color:#0091B9;
}
.box .first
{
  border-top:0;
}

ul>li
{
  list-style-image: url(../images/cms/list.png);
  list-style-type: circle
}

.warnbox
{
  width:100%;
}
.warnbox .m
{
  background: url(../images/cms/warnbox/m.gif);
}
.warnbox .b
{
  background: url(../images/cms/warnbox/b.gif) repeat-x bottom;
}
.warnbox .t
{
  background: url(../images/cms/warnbox/t.gif) repeat-x top
}
.warnbox .l
{
  background: url(../images/cms/warnbox/l.gif) repeat-y left
}
.warnbox .r
{
  background: url(../images/cms/warnbox/r.gif) repeat-y right
}
.warnbox .br
{
  background: url(../images/cms/warnbox/br.gif) no-repeat bottom right
}
.warnbox .bl
{
  background: url(../images/cms/warnbox/bl.gif) no-repeat bottom left
}
.warnbox .tr
{
  background: url(../images/cms/warnbox/tr.gif) no-repeat top right
}
.warnbox .tl
{
  background: url(../images/cms/warnbox/tl.gif) no-repeat top left
}
.warnbox .top
{
  color:#fff;
  font-weight:bold;
  line-height:20px;
}
.warnbox .top img
{
  margin-left:4px;
  margin-right:6px;
}
ul
{
  margin-top:5px;
  margin-bottom:5px;
  padding-top:5px;
  padding-bottom:5px;
}
/* parastajām formām */
.tabsheet
{
  margin-left:20px;
  display:block;
  width:700px;
}
/* list inline formām */
.intabsheet
{
  margin-left:20px;
  display:block;
  width:660px;
}

.tabswitch
{
  float:left;
  width:100%;
  border-bottom:1px solid #CBCCCE;
}
.tabswitch a
{
  background:url(../images/cms/tab.png) no-repeat;
  float:left;
  text-align:center;
  width:100px;
  height:26px;
  line-height:26px;
  position:relative;
  top:1px;
  text-decoration:none;
  color:#000;
  margin-right:2px;
}
.tabswitch .current
{
  color:#0091B9;
  background:url(../images/cms/tab.gif) no-repeat;
}
.tabarea
{
  clear:left;
  border:1px solid #CBCCCE;
  border-top:0;
  background-color:#f7f7f7;
  padding:10px;
}
.tabarea .brick
{
  width:130px;
  height:20px;
  float:left;
  clear:left;
  margin-top:5px;
  text-align:left;
  padding-right:3px;
}
/* parastajām formām */
.tabsheet .tabarea input.txt
{
  width:520px;
  margin-bottom:4px;
}
.tabsheet .tabarea .select{
  width:524px;
  float:left;
}
.tabsheet .tabarea .start_page_select{
    width:200px;
    float:left;
}
.tabsheet .tabarea .select-parented{
  width:510px;

  float:left;
}
.tabsheet .tabarea select.txt{
  width:524px;
}
.tabsheet .tabarea textarea.big-textarea{
    width:680px;
    height:400px;
}
.tabsheet .tabarea .textarea, .textarea-translate, .meta_data_textarea
{
  float:left;
  clear:both;
  width:680px;
  height:200px;
}
/* list inline formām */
.intabsheet .tabarea input.txt
{
  width:480px;
  margin-bottom:4px;
}
.intabsheet .tabarea .select{
  width:484px;
  float:left;
}
.intabsheet .tabarea .select-parented{
  width:468px;
  float:left;
}
.intabsheet .tabarea select.txt{
  width:484px;
}
.intabsheet .tabarea textarea.big-textarea{
  width:480px;
  height:400px;
}
.intabsheet .tabarea textarea,textarea-translate
{
  width:480px;
  height:200px;
}

select
{
  margin-bottom:4px;
  height:24px;
  cursor:pointer;
}

.greenbox
{
  width:100%;
  background:url(../images/cms/greenbox/m.gif) repeat-x;
  color:#fff;
  text-align:center;
  line-height:67px;
}
.greenbox .l
{
  background:url(../images/cms/greenbox/l.gif) top left no-repeat;
}
.greenbox .r
{
  background:url(../images/cms/greenbox/r.gif) top right no-repeat;
}
.tabarea .fl
{
  *width:470px;
}
span.splitter{
  float:left;
  color:#F48843;
}

.page-number-container-top{
  display:block;
  height:20px;
  margin-bottom:15px;
}
.page-number-container-bottom{
  display:block;
  height:20px;
  margin-top:15px;
}
.page_number{
  float:left;
  display:block;
  width:auto;
  height:20px;
  margin-right:1px;
  border: 1px solid gray;
  text-align: center;
  padding:1px;
  color:black;
  background:url("../images/cms/topmenu_bg.png") repeat-x;
}
.current_page_number{
  float:left;
  display:block;
  width:auto;
  height:20px;
  margin-right:1px;
  color:white;
  border: 1px solid gray;
  text-align: center;
  padding:1px;
  background:url("../images/cms/topmenu_current.png") repeat-x;
}
.page_number:hover{
  color:gray;
}
.field-with-errors input{
  border: 1px solid #F58220;
}
.field-error-explanations{
  color: #F58220;
  fotn-family:verdana,arial,helvetica,sans-serif;
}
.field-error-explanation{
}
#picture_gallery1 .bd {
  overflow:auto;
  height:400px;
  background-color:fff;
  padding:10px;
}

#picture_gallery1 .ft {
  height:15px;
  padding:0;
}

#flash{
  width:200px;
  margin:0px auto;
  color: black;
}
.hidden_dialog{
    visibility:hidden;
    top:0px;
    position:absolute;
}
.managed-create-line{
   float:left;

   width:100%;
}
/*filtriem*/
#filter-head{ padding: 4px 4px 0px 4px; background: #D2D2D2 none repeat scroll 0% 0%; line-height: 24px;}
#filters{border: 1px solid #e4e4e4; margin:0; background-color: white;}
#filters { padding: 0.7em; }
#filters p { margin: 1.2em 0 0.8em 2px; }
#filters .buttons { font-size: 0.9em; }
#filters table { border-collapse: collapse; background-color: white;}
#filters table tr {border: 0px;}
#filters table td { padding: 0; vertical-align: middle; }
#filters tr.filter { height: 2em; }
#filters tr.add-filter{margin-top:4px;}
#filters tr.add-filter select{margin-top:4px;}
.icon-save { background-image:url(/images/icons/save.png); }
.icon-checked { background-image:url(/images/icons/true.png); }
.icon-reload { background-image:url(/images/icons/reload-small.png); }
.icon {
background-position:0% 40%;
background-repeat:no-repeat;
padding-bottom:3px;
padding-left:20px;
padding-top:2px;
}
#filters input, #filters select{height: auto;}
#filters input.value{width: 150px;}
#filters td.first-column{width:200px;}
#filters select.small{width:60px;font-size:14px;}
#filters select.medium{width:200px;font-size:14px;}

span.marker-color{
    display:block;
    width:15px;
    height:15px;
    float:left;
    margin-left:1px;
}
.autocomplete-container{
    width:516px;
}
select.parent_filter_select{
    width:230px;
    margin-right:3px;
}
.managed-form-submit-container{
    float:right;
    margin-bottom:5px;
    padding-right:20px;
}
.managed-form-submit-container-bottom{
    padding-left:490px;
}

#horoscope-list #horoscope-text p {
    font-size:12px;
}
