



#container { 
	width: 50%;
	margin: 0 auto;
	text-align: left;
}


#closebutton{
    z-index: 10000; 
    top: 6px; 
    left: 797px;
    position: relative;
    margin-bottom:8px;
}
#leightbox_content{
    display:block;
    width:774px;
    padding:10px;
    background-color:white;
}
.leightbox {
	color: #333;
	display: none;
	position: absolute;
	top: 7%;
	left: 15%;
	width: 773px;
	height: 504px;
	padding: 1em;
	text-align: left;
	z-index:1001;
	/*overflow: auto;	*/
}

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:#333;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.lightbox[id]{ /* IE6 and below Can't See This */    position:fixed;    }#overlay[id]{ /* IE6 and below Can't See This */    position:fixed;    }