<div class="boxtitle">
  <h1 class="black">
    <%= resource_class.model_name.human(:count=>2) %>
    <% if list.search %>
      <%= render_component list.search, :display %>
    <% end %>
  </h1>
  <div class="arrow">
  </div>
</div>