<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.31.3, 14:22:56
%>
<% content_for :stylesheet do -%>
    <%= stylesheet_link_tag "public/business" %>
<% end -%>
<% content_for :header_text do %>&#160;<% end -%>
<% render :partial => "cms/rebate/steps", :locals => {:active => 3} %>

<div class="box-t boxx"><div class="b"><div class="l"><div class="r"><div class="tl"><div class="tr"><div class="bl"><div class="br">
<div class="min-height-box">&#160;</div>
<div class="inner" id="payment_ok">
  <h2><%= t(:"business.payment_ok_title") %></h2>
  <p><%= (@rebate.payment_type == 'prepay')? t(:"business.payment_prepay_ok") : t(:"business.payment_ok") %></p>
  <p><%= link_to("#{image_tag("pdf.png")} &#160;#{t(:"business.download_invoice")}", :action => :invoice, :format => 'pdf') %></p>
<br class="clear"/>
</div><br class="clear"/></div></div></div></div></div></div></div>
</div>