coverage.data
sinatra-test.rb
tmp/
diagramm.rb
log/
nbproject/
_public/_gsdata
.DS_Store
_public/_gsdata_/*
.rvmrc
.document
*~
doc/
rdoc/
unused_classes/
spec/debug.log
.git.zip
.idea/
.gem
lib/test.rb
coverage/
spec/rails_app/log/
spec/rails_app/tmp/
.project
Gemfile.lock
.redcar
pkg
.bundle
.pivotalrc
.project
*.swp
.tags*
tags
.gemtags
.ruby-version
