%tr{:class => "nested-list", :id => params[:nested].to_a.flatten.sort.join("_")}
  %td{:colspan => 100}
    .box.nested-list
      .list
        %table
          = render_component nested_list.columns, :page => page, :nested => true, :list => nested_list
      = render_component nested_list, :paginator, :page => page