<%= render :partial=>'/file/upload_container', :object=>file_cfg(ajax_container,:tempid=>(ajax_container[:parent_id].nil?)?true:false,:parent_id=>(ajax_container[:parent_id].nil?)?(ajax_container[:my_id]):(ajax_container[:parent_id])) %>
