<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div class="file-files-functional-container">
    <%= render :partial=>'/file/edit_form', :object=>file_cfg(upload_field) %>
</div>
