<div class="field" id="field_<%=field.__id__%>">
  <%= render_component :"lolita/field", :label, :field=>field %>
  <div class="field-value" id="field_<%=field.__id__%>_value">
    <%= render_component :"lolita/field", field.type_name.to_sym,:field=>field %>
  </div>
</div>
