<div id="subheader">
  <h1><%= t(:"business.title") %></h1>
  <ul>
    <li id="hint-1"><%= t(:"business.hint_1") %></li>
    <li id="hint-2"><%= t(:"business.hint_2") %></li>
    <li id="hint-3"><%= t(:"business.hint_3") %></li>
  </ul>
</div>