root {
    display: block;
}
body{
    margin:0px;
    font-family: cursive;
}
a{
    text-decoration:none;
}
#top{
    border-bottom: 3px solid black;
    padding-left: 10px;
}
#left-side{
    padding-left:10px;
    float:left;
    width: 200px;
}
#right-side{
    left: 200px;
    position: absolute;
}
#navigation{
    list-style: none outside none;
    border: 2px solid black;
    width:150px;
    padding: 0px;
}
#navigation a{
    color:#000;
}
#navigation>li{
    padding:3px;
    height:20px;
    background-color: #EEEEEE;
    border-bottom:2px solid black;
}
#navigation>li:hover{
    background-color: #FFFFFF;
}
/* Table for lolita*/
.list-header h2{
    float:left;
    margin-right:10px;
}
table.list{
    border: 2px solid black;
    border-collapse:collapse;
    font-size: 10pt;
    clear:left;
}
table.list>thead{
    background-color: #CCCCCC;
}
table.list tr.odd{
    background-color: #EEEEEE
}
table.list td,th{
    border-right:2px solid black;
}
table.list th{
    width: 100px;
}
table.list td{
    padding-left:5px;
}
td.checkbox-cell, th.checkbox-header{
    width: 30px !important;
}
/* Table for lolita END */
/* Tabs for lolita */
.tabs{
    width:800px;
}
.tabs .tab{
    width:100%;
    border:2px solid black;
    margin-bottom: 20px;
}
.tabs .tab-title{
    height: 25px;
    border-bottom: 2px solid black;
    padding-top: 6px;
    padding-left: 10px;
    color: #aaa;
}

.tabs .tab-content{
    padding: 20px 10px 20px 20px;
}

/* Tabs for lolita END */
/* Fields for Lolita */
.tab .field{
    margin-bottom: 10px;
}
.tab .field input,textarea,select,.disabled-field{
    border: 1px solid gray;
    padding: 2px;
    width: 750px;
    display:block;
}
.tab .field .disabled-field{
    font-size: 10pt;
    color: gray;
}
.tab .field select{
    width:300px;
}
.tab .field textarea{
    height: 200px;
}

/* Fields for Lolita END */