<h1 class="page-title">
  <%= @page.name %>
  <%= link_to image_tag( 'icons/edit.png', :alt=>"Labot lapu"), { :action => "edit", :id => @page.name } %>
</h1>
<div><%= @page.content %></div> <% #textilize(@page.content) %>

