%td{:class => "tool-cell"}
  - list.actions.respond_to?(:each) && list.actions.each do |action|
    - if authorization_proxy.can?(action.name,record)
      = render_component action, :record => record

