<div id="pic_title_dialog" class="hidden_dialog"><!--[if !IE]>bilžu dialogs<![endif]-->
  <div class="hd">Lūdzu, ievadiet aprakstu</div>
  <div class="bd">
    <form method="POST" action="" id="pic_title_dialog_form">
      <label for="title">Apraksts: </label><input size="33" type="text" name="title" />
      <label for="language">Valoda: </label><select style="width:240px;" name="language" ></select><br/>
      <input type="submit" class="btn dialog-button"  style="margin-left:110px" value="Saglabāt" />
      <input type="button"  onclick="YAHOO.cms.pic_title_dialog.hide()" class="btn dialog-button" value="Atcelt" />
    </form>
  </div>
</div>
<div id="advanced_filter_dialog" class="hidden_dialog"><!--[if !IE]>bilžu dialogs<![endif]-->
  <div class="hd">Filtra nosaukums</div>
  <div class="bd">
    <label for="title">Nosaukums: </label><input id="advanced_filter_dialog_name" size="33" type="text" name="title" />
    <input type="button" id="advanced_filter_dialog_ok" class="btn dialog-button"  style="margin-left:110px" value="Saglabāt" />
    <input type="button"  onclick="YAHOO.cms.advanced_filter_dialog.hide()" class="btn dialog-button" value="Atcelt" />
  </div>
</div>
