<br class="clear" />
<div class="hr footer">
  <div class="fr small">
    &copy; 2008-<%=Time.now.year%> <a href="http://www.ithouse.lv" class="blue">IT House</a>
  </div>
</div><!--[if !IE]>footer<![endif]-->