<% unless @config[:list][:no_filter] %>
  <% options=simple_filter_options(simple_filter)%>
  <% form_for :object, :html=>{:onsubmit=>"SimpleFilter.filter(this.ferret_filter.value,this.action);return false;"},:url=>{:action=>options[:action]} do |f|%>
    <div class="fr">
      <input type="text" class="txt" name="ferret_filter" value="<%= self_filter_value %>"/>
      <input type="submit" class="btn" value="<%=t(:"actions.filter") %>" name="do_filter_list"/>
    </div>
  <% end %>
<% end %>