<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.2.2, 08:54:51
%>
<% content_for :title, t(:"static_metadata.about_us.title") %>
<% content_for :keywords, t(:"static_metadata.about_us.keywords") %>

<% content_for :stylesheet do -%>
  <%= stylesheet_link_tag "public/about_us" %>
<% end %>
<h1><%= @page.title %></h1>
<%= box @page.body %>
<% if @page.pictures[0] %>
<%= image_tag(get_image_normal(get_main_image_or_first_by_parent(@page))) %>
<% end %>