div, body, a, img { margin:0; padding:0 }
p{ margin: 9px 0;}
a img{border:0px;}
.clear{clear:both;}
.no-display{display: none;}

body { background-color: white; color: black; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: black; }
a:hover { color: gray; }

#body{
  width: 1000px;
  margin: 0 auto;
}
div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #ffffff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
.header{
    background: url(/lolita/images/admin/header_bg.png) repeat-x;
    color: black;
    height: 85px;
}
.module-button-list{
	padding-left: 20px;
        padding-top: 15px;
	margin: 0px;
        float: right;
        clear: both;
}
.module-button-list li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.module-button-list a{
    color: white;
    text-decoration: none;
}
.module-button-list a:hover{
  background-color:transparent;
}

.language-button-list{
    padding-top: 15px;
    padding-right: 10px;
    margin: 0px;
    float:right;
}
.language-button-list li{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}
.language-button-list a{
    color: #2D388D;
    text-decoration: none;
}

.middle{
    width: 100%;
    margin-top: 2px;    
}
.center{
    border-top: 1px solid #F1FAFD;
    padding-top: 0px;
    margin-right: 3px;
    background-color: #F2FAFC;
    width: 800px;
    float:left;
}

.center h1{
    background: url(/lolita/images/admin/h1_bg.png) left repeat-y;
    margin:0;
    padding: 12px 0px 12px 20px;
    color: #1780B0;
    font-size: 20px;
    font-weight: normal;
}
.content div {
  margin-left: 5px;
}
.content div div{
  margin-left: 0;
}

.left{
    width: 197px;
    float: left;
}
.move-to-sibbling{
  height: 5px;
  border: 1px solid #C9EEF8;
}
form.simple-form label, form.simple-form input{
  display: block;
  float: left;
}

form.simple-form label {
  text-align: right;
  padding-right: 20px;
  width: 100px;
}

form.simple-form > div {
    clear: left;
    min-height: 30px;
}

form.simple-form .field-error-explanations{
    clear: left;
    margin-left: 120px; 
}

form.meta-data text{
    width: 300px
}

.status-success{
    color: green;
}
.status-failure{
    color: red;
}


div.admin-list-container{
    display:block;
    margin:5px;
    padding:5px;
    width: 300px;
    float:left;
}
span.admin-list-title{
    width:50%;
    font-size:14px;
    font-weight:bold;
    float:left;
    margin-bottom:10px;
}

div.admin-new-button-container{
    display:block;
    width:50%;
    text-align:right;
    float:left;
    margin-bottom:10px;
}
.admin-new-button{
    font-weight:bold;
}

.admin-record{
    display:block;
    color:#F48843;
    float:left;
}
.admin-record-button{
    width:20px;
    float:left;
}
.admin-related-title{
    width:100%;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    display:block;
}
/*Remote list*/
.object-remote-list-container{
    width:400px;
    height:200px;
    margin-top:20px;
    border:1px solid rgb(220,220,220);
}
.object-remote-list{
    width:100%;
    height:185px;
    overflow:scroll;
   
}
.object-remote-list-header{
    height:20px;
    top:0px;
    left:0px;
    position:relative;
}
.object-remote-list-header-cell{
    width:150px;
    overfloat:hidden;
    display:block;
    float:left;
}
.object-remote-list-body-container{
    width:100%;
    height:100%;
   
}
.object-remote-list-body{
    height:auto;
}
.object-remote-list-row{
    height:23px;
}
.object-remote-list-cell{
    width:150px;
    display:block;
    float:left;
}
.object-remote-list-input{
    width:145px;
    cursor:default;
}
.object-list-footer{
    display:block;
    height:25px;
}
.object-remote-list-delete-row{
   
}

.object-select-add{
    float:left;
    display:inline;
    width:16px;
    height:16px;
    margin-top:4px;
    margin-left:2px; 
}
select.multiple {
    height: 100px;
}
.tabsheet .tabarea .select.multiple{
    width:525px;
}
.file-files-functional-container{
    text-align:right;
}
 .item-name .item-name-tools{
    visibility:hidden;
 }
 .item-name:hover .item-name-tools{
    visibility: visible;
 }
 .colored{
    background-color:#94E8FF;
 }
.help-box{
  width: 760px;
}
.wiki-menu{
    float:left;
    width:240px;
}
.wiki-menu ul{
    margin:0px !important;
}
.wiki-menu li{
    list-style-image:none;
    list-style-type:none;
}
.help-box .page-title{
  color:black;
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
}
.small-table-header{
    font-size:10px;
}
img.toggle-arrow{
    cursor:pointer
}