<%#
# SIA ITHouse
# Art큰rs Meisters
# 16.04.2008
%>

<script type="text/javascript">
  var map,icon ;
  function publicMapLoad(locations,blank,default_deep){
    if (GBrowserIsCompatible()){// Do Map if Compatible Browser only
       //markers=[];
        
        map = new GMap2(elementById("map"));
        map.enableScrollWheelZoom()
        map.addControl(new GSmallMapControl());
       /*if(!blank){
            map.addControl(new GMapTypeControl());
        }*/
        if (locations.length>0){
          icon = new GIcon();
          icon.shadow = "http://www.google.com/mapfiles/shadow50.png";
          icon.iconSize = new GSize(20, 34);
          icon.shadowSize = new GSize(37, 34);
          icon.iconAnchor = new GPoint(9, 34);
          icon.infoWindowAnchor = new GPoint(9, 2);
          icon.infoShadowAnchor = new GPoint(18, 25);
          var letter = String.fromCharCode("I".charCodeAt(0));
          icon.image = "http://www.google.com/mapfiles/marker"+letter+".png";
          for (var i=0;i<locations.length;i++){
            if (locations[i].lat==null || locations[i].lng==null){
                delete locations[i];
                var arrPart1=locations.slice(0,parseInt(i));
                var arrPart2=locations.slice(parseInt(i)+1);
                locations=arrPart1.concat(arrPart2);
            }
          }
          try{
          var min_lat=locations[0].lat;var min_lng=locations[0].lng;
          var max_lat=locations[0].lat;var max_lng=locations[0].lng;
          for(var l=0;l<locations.length;l++){
            //if (lat!=0 && lng!=0){  
              if (locations[l].lat<min_lat){min_lat=locations[l].lat;}
              if (locations[l].lng<min_lng){min_lng=locations[l].lng;}
              if (locations[l].lat>max_lat){max_lat=locations[l].lat;}
              if (locations[l].lng>max_lng){max_lng=locations[l].lng;}
            //}
          }
          var lat_diff=max_lat-min_lat;
          var lng_diff=max_lng-min_lng;
          if (lat_diff>lng_diff){max_diff=lat_diff;}else{max_diff=lng_diff;}
          var avg_lng=max_lng-lng_diff/2
          var avg_lat=max_lat-lat_diff/2
          var max_diff=max_diff==0?1:max_diff;
          max_diff=Math.abs(max_diff);
          
          if (avg_lat==0 || avg_lng==0){
            center=new GLatLng(56.945348705799276, 24.100570678710938);
          }else{
            var center=new GLatLng(avg_lat, avg_lng);
          }
          map.setCenter(center, 1);
          var lat_dist=Math.abs(min_lat-max_lat);
          var lng_dist=Math.abs(min_lng-max_lng);
         var bounds = map.getBounds();
         var southWest = bounds.getSouthWest();
         var northEast = bounds.getNorthEast();
         var a=1;var b=1;
        // alert(lat_dist +"-"+lng_dist);
         var r_lat_dist=Math.abs(southWest.lat()-northEast.lat());
         var r_lng_dist=Math.abs(southWest.lng()-northEast.lng());
         //alert(r_lat_dist+"-"+r_lng_dist);
         if (lat_dist>lng_dist){
            var latlng_diff=lat_dist/lng_dist;
         }else{
            latlng_diff=lng_dist/lat_dist;
         }
         var k=100/latlng_diff;
         var lat_deep=r_lat_dist/k //lat_dist;
         var lng_deep=r_lng_dist/k //lng_dist;
         if (lat_deep>lng_deep && lat_deep<14){
            var deep=lat_deep;
         }else{
            if(lng_deep<14){
                deep=lng_deep;
            }else{
                deep=14
            }
         }
          /*if (lat_diff>lng_diff){
            diff=Math.abs(southWest.lat()-northEast.lat());
            if (max_diff>diff){a=-1;b=1;}
            deep=10+b+parseInt(10*a*((max_diff%diff)/diff));
          }else{
            diff=Math.abs(southWest.lng()-northEast.lng());
            if (max_diff>diff){a=-1;b=1;}
            deep=10+b+parseInt(10*a*((max_diff%diff)/diff));
          }*/
        
          if (default_deep && locations.length<2){
            deep=default_deep
          }
          map.setCenter(center, parseInt(deep));
          function createMarker(point,info){
            var letteredIcon = new GIcon(icon);
            var marker=new GMarker(point,{icon:letteredIcon});
            GEvent.addListener(marker, "click", function() {
              marker.openInfoWindowHtml(info);
            });
            return marker;
          }
          for(var i=0;i<locations.length;i++){
              var lat=parseFloat(locations[i].lat);
              var lng=parseFloat(locations[i].lng);
              if (lat && lng){
                  map.addOverlay(createMarker(new GLatLng(lat,lng),locations[i].info));
              }
          }
         }catch(e){
            center=new GLatLng(56.945348705799276, 24.100570678710938);
            deep=12;
            if (default_deep){
              deep=default_deep
            }
            map.setCenter(center, parseInt(deep));
         }
        }else{map.setCenter(new GLatLng(56.945348705799276, 24.100570678710938),default_deep);}
       
    }else{
        elementById("map").innerHTML = "<div style='color: white'>Neizdev훮s par훮d카t Google Maps.</div>" ;
    }
    
  }
  <%blank=blank||false%>
  <%deep=deep||nil%>
  publicMapLoad(<%= locations.to_json %>,<%= blank || false %>,<%= deep || 11 %>)

</script>


