.menu-tree-context-menu ul>li{
    list-style-type:none;
    list-style-image:none;
    font-size:10px;
}
.menu-small-buttons{
    margin-left:2px;
    margin-right:2px;
}
.child-menu-select-container{
    width:100%;
    height:30px;
    display:block;
    text-align:right
}
.child-menu-select{
    width:250px;
    margin-top:5px;
    margin-right:2px
}
.very-main-menu-container{
    width:380px;
    float:left;
}
.editable-menu{
    padding-bottom: 10px;
    height:1000px;
}
.with_right_margin{
    margin-right:3px;
}
.root_menu_container{
    padding-top:10px;
    padding-bottom:10px;
}

.menu_sibling{
    display:block;
    height:5px;
}
.menu_tools{
    float:left;
    margin-right:5px;
    display:block;
    visibility:hidden;
}
.menu_content_text{
   cursor:pointer; 
}
.ith_tree_arrow{
    display:block;
    float:left;
    padding-top:5px;
}
.menu-title-container{
    padding:5px;
    margin-left:25px;
}
.item
{
    cursor:pointer;
    
    padding-top:5px;
}
.child-containter
{
  margin-left:10px;
}
.left-menu-item .arrow{
    margin-top: 5px;
    margin-right: 2px;
    }
.left-menu{
    display:block;
    background: #C1E8F2;
    color: #2DB5F1;
    clear: right;
    margin-bottom: 10px;
}
.left-menu-item span{
    color: #1780B0;
    text-decoration:none;
}
.left-menu-item span:hover{
    text-decoration:underline;
}
.left-menu .splitter{
    border-top: solid 1px #B5E3EF;
    padding-top: 4px;
    margin-top: 4px;
    width:100%;
}
.left-menu .child-containter{
}

div.configure_menu_items div.item{
    clear: both;
}
.left-menu-item{
    padding-left:10px;
    border-bottom:1px solid #e7e7e7;
}

.left .left-menu-btn{
    display: block;
    text-align: right;
    background: white;
}
.left-menu-drop-hover{
  background-color: #12668B;
}
.configure_menu_items{
  float: left;
  width: 350px;
}
.edit-menu{
    cursor:pointer;
    text-align:right;
    padding-bottom:5px;
    color:#1780B0;
    padding-right:5px;
 }
 .edit-menu span{text-decoration:none;}
.edit-menu span:hover{
    text-decoration:underline;
}
