<% cfg=file_cfg(container) %>
<form action="#" onsubmit="show_address(map,this.address.value); return false">
  <p>
    <input type="text" size="60" name="address" onfocus="select()" />
    <input type="submit" value="<%=t(:".move_to_addess")%>" />
  </p>
</form>
<div id="map_<%=cfg[:unique_id]%>" class="google-map" style="width:600px;height:400px;"></div>
<script type="text/javascript">
<% if Lolita.config.gmaps_key %>
    loadjscssfile("/lolita/javascripts/cms/media/google_map.js","js")
    function init_lolita_google_map(){
      //alert("Try initializing!")
      try{
        map=new LolitaGoogleMap(<%= cfg.to_json %>)
        map.init()
      }catch(e){
  <% if RAILS_ENV=="development"  %>
          alert(e)
  <% end %>
        setTimeout("init_lolita_google_map()",500)
      }
    }
    init_lolita_google_map()
<%end%>
</script>