<% cfg=file_cfg(container) %>
<% rnd=rand()*100 %>
<div id="map_<%=rnd%>" class="house-google-map" ></div>
<script type="text/javascript">
<% if Lolita.config.gmaps_key %>

  <% cfg[:id]=rnd %>
    loadjscssfile("/lolita/javascripts/cms/media/google_map.js?<%=rand*100000.to_i%>","js")
    $("body").eq(0).unload(function(){
      GUnload()
    })
    map=new LolitaGoogleMap(<%= cfg.to_json %>)
    map.load()
    $(document).ready(function(){
      alert("Document ready")
      map=new LolitaGoogleMap(<%= cfg.to_json %>)
      map.load()
    })
<%end%>
</script>