<%  #
# FIXME: move to /tab_types/
#
%>
<%= form_tag "#",:multipart=>true, :id=>"tab-form-#{tab.__id__}",:method => resource.new_record? ? :post : :put do |form| %>
  <div class="tab-content">
    <%= render_component :"lolita/configuration/tab", :fields, :tab=>tab %>
  </div>
<% end %>