%header
  %h1= Lolita.application.name
  %nav
    = render_component "lolita/shared", "languages"
    - if authentication_proxy.current_user
      %a{:href => authentication_proxy.edit_path, :class => "username"}= authentication_proxy.current_user.email
      = link_to ::I18n.t("lolita.shared.log_out"),authentication_proxy.sign_out_path, :class => "button grey", :method => authentication_proxy.sign_out_via