<header>
  <h1>Lolita</h1>
  <nav>
    <a href="<%=send(:"edit_#{current_user.class.to_s.downcase}_password_path")%>" class="username"><%=current_user.email%></a>
    <a href="<%=send(:"destroy_#{current_user.class.to_s.downcase}_session_path")%>" class="button grey"><%=I18n.t("lolita.shared.log_out")%></a>
  </nav>
</header>