 <div class="save black">
  <div class="last-save">
    <%= resource.updated_at.strftime("#{t("lolita.tabs.last_save")}: %m/%d/%Y %H:%M ") if resource.respond_to?(:updated_at) && resource.updated_at %>
  </div>
  <button class="save-all"><%=::I18n.t("lolita.tabs.save")%></button>
</div>