<h3><%= t("lolita.admin.user.forgot_password.email title") %></h3>
<a href="<%= url_for(:host=>@host, :controller=>"admin/user", :action=>"change_password", :id=>@id) %>" ><%= url_for(:host=>@host, :controller=>"admin/user", :action=>"change_password", :id=>@id) %></a>