<% cfg=file_cfg(before_files_container) %>
<div id="picture-photos-main" class="picture-photos-main" >
    <%= render :partial=>"/media/#{cfg[:media]}/get_image", :object=>cfg %>
</div>
<% unless cfg[:read_only] %>
  <%=  yui_drop_receiving_element("picture-photos-main","pictures")%>
<% end %>


