<% cfg=file_cfg(before_files_container) %>
<script type="text/javascript">
  loadjscssfile("/lolita/javascripts/jquery/Jcrop/jquery.Jcrop.min.js","js")
  loadjscssfile("/lolita/stylesheets/jquery.Jcrop.css","css")
  ITH.ImageFile.init(<%= raw cfg.to_json %>)
</script>
<%= render :partial=>"/media/#{cfg[:media]}/resize_dialog" %>
<div id="picture-photos-main" class="picture-photos-main" >
  <%= render :partial=>"/media/#{cfg[:media]}/get_image", :object=>cfg %>
</div>
<% unless cfg[:read_only] %>
  <%= raw yui_drop_receiving_element("picture-photos-main","pictures")%>
<% end %>


