<%#
# SIA Lolita
# Artūrs Meisters
%>
<% 
  user_obj||=nil
  is_user=user_obj ? true : false
  collection= get_roles_or_users(user_obj)
 %>
<div class="admin-list">
  <table>
    <% for object in collection %>
      <%= render :partial=>"admin/user/role_user_row", :locals=>{
        :role=>is_user ? object : role,
        :user=>is_user ? user_obj : object,
        :title=>!is_user ? object.email || object.login : object.name,
        :url=>get_role_or_user_url(object,is_user)
      } %>
    <% end %>
  </table>
</div>
<% unless is_user %>
  <div class='page-number-container-bottom'>
    <%
      url_hsh={:action=>:index,:controller=>"admin/user",:params=>{:role_id=>role.id}}
      options={:container=>"#role_subtree_#{role.id}_list"}
    %>
    <% if collection.total_pages>1 %>
      <%= public_page_link("<span class='page_number'>&lt;&lt;</span>",url_hsh.merge(:page=>1),options) %>
    <% end %>
    <% public_page(collection,{:page_name=>"<span class='page_number'>%d</span>"}.merge(options).merge(url_hsh)) do |page| %>
      <%=page%>
    <% end %>
    <% if collection.total_pages>1 %>
      <%= public_page_link("<span class='page_number'>&gt;&gt;</span>",url_hsh.merge(:page=>collection.total_pages),options.merge(:html=>{:class=>""})) %>
    <% end %>
  </div>
<% end %>

