<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% cfg=picture_cfg(main_image_container) %>
<div id="picture-photos-main" class="picture-photos-main" >
    <%= render :partial=>'/picture/get_image', :object=>cfg %>
</div>
<% unless main_image_container[:read_only] %>
  <%=  yui_drop_receiving_element("picture-photos-main","pictures")%>
<% end %>


