<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% if show_picture[:parent] && show_picture[:picture_id] %>
  <%= default_link :title=>t(:"media.picture.all"),
        :controller=>"/picture",:action=>:all_images,
        :params=>{:parent=>show_picture[:parent],:parent_id=>show_picture[:parent_id],:temp=>show_picture[:temp]},
        :on_success=>"$('#picture_gallery_picture_container').html(request.responseText)",
        :method=>"POST"
  %>
    <% pictures=get_all_image_types(show_picture[:picture_id])
    pictures.each{|type,picture|%>
        <div style="border:1px solid gray;width:500px;height:200px;margin-left:5px;margin-bottom:5px;overflow:hidden;">
            <%= type %>
            <input type="text" value="<%=picture%>" style="height:17px;width:99%;" />
            <br/>
            <div style="overflow:scroll;width:100%;height:160px;">
                <%= image_tag(picture,:alt=>picture)%>
            </div>
        </div>
   <% }%>
<% end%>
