<div class = "fields" >
  <% nested_form.fields.each do |field| %>
    <% if nested_form.field_style == :normal %>
      <%= render_component "lolita/configuration/field", :display, :field => field %>
    <% else %>
      <%= render_component field %>
    <% end %>
  <% end %>
  <% if nested_form.expandable? %>
    <%= link_to_remove_fields I18n.t("lolita.shared.delete").downcase, tab_form %>
  <% end %>
</div>
  