<%#
# Artūrs Meisters SIA ITHGroup
# 07.10.2008
%>
<% @object.all_versions do |type,version,image|%>
  <div class="ith-media-image-detail-container" style="height:<%=  version[:height].to_i+20>270 ? 270 : version[:height] %>px" >
    <div class="ith-media-image-detail-picture">
      <%= image_tag version[:url], :alt=>image.alt,:title=>image.title%>
    </div>
    <div class="ith-media-image-detail-name"><%=type%></div>
  </div>
<% end %>
