<p>Укажите свой почтовый адрес для получе-<br /> ния кода приглашения</p>
<form action="/register_email" method="post" class="simple-form">
  <div><label>E-mail</label><input type="text" name="address" /><br class="clear" /><br class="clear" /></div>
  <div class="spacer"></div>
  <div><button type="submit"><span>Пригласить</span></button></div>
</form>
