<!DOCTYPE html>
<html>
  <head>
    <title>#LolitaProjectTitle</title>
    <%= stylesheet_link_tag "lolita/main" %>
<%#= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="top">
      <h1>Lolita Admin</h1>
    </div>
    <div id="left-side">
      <%= render_cell :"lolita/navigation",:display %>
    </div>
    <div id="right-side">
      <%= yield %>
    </div>
  </body>
</html>
