<!DOCTYPE html>
<html>
  <head>
    <title>#LolitaProjectTitle</title>
    <%#= stylesheet_link_tag :all %>
    <%#= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render :template=>"navigation/main"%>
    <%= yield %>
  </body>
</html>
