#story_list_container{
    clear:both;
}
.story_list_header{ padding-top:2px;}
.story_list_tab{
    width:50%;
    display:block;
    float:left;
    background-color:white;
    cursor:pointer;
    text-align:center;
    height:20px;
}
.story_list_current_tab{
    background-color:rgb(240,240,240);
    font-weight:bold;
}
.story_list_col1{
    width:20px
}

.story_list_body{
    height:240px;
    padding-top:3px;
}

