#container{
    text-align:center;
}
h2{
    color:#0091B9;
    padding-top:10px;
}
.margin-after{
    margin-bottom:5px;
}
form{
    text-align:left;
}
.lg{
    background:transparent url(../images/cms/dialog.png) no-repeat scroll 0 0;
    height:270px;
    margin:0 auto;
    width:500px;
}
.txt{
    color:#666666;
    font-weight:bold;
    line-height:20px;
    margin-left:60px;
}
.indent{
    text-align:left;
}
.human-control-container{
    margin-left:175px;
    margin-top:5px;
    text-align:center;
    width:150px;
}
.footer{
    color:gray;
    font-size:12px;
}
.btn:hover {
    background:transparent url(../images/cms/big_btn_hvr.gif) repeat scroll 0 0;
}
.btn{
    margin-left:360px;
    background:transparent url(../images/cms/big_btn.gif) repeat scroll 0 0;
    border:0 none;
    height:31px;
    width:98px;
}

