<%#
# Artūrs Meisters ITHGroup
# 06.10.2008
%>
<table>
  <tr>
    <th style="width:40px">Tips</th>
    <th style="width:400px">Nosaukums</th>
    <th style="width:60px">Iespējas</th>
  </tr>
<% for file in @files %>
  <tr>
    <%type=file.name_mime_type.split("/").first%>
    <td ><%=image_tag "cms/mimetypes/#{type}.png", :alt=>type%></td>
    <td ><%= link_to file.caption || file.name, {:controller=>"/file", :action=>"download", :id=>file.id},{:title=>file.title,:id=>"ith_media_list_element_#{file.id}"} %></td>
    <td ><span class="ith-media-image-tool" onclick="ITH.Media.open_attributes(<%=file.id%>)"><span title="Mainīt faila attribūtus" class="picture-edit-tool picture-tool-common"></span></span></td>
  </tr>
  <tr></tr>
<% end  %>
</table>