<div id="tabs-header">
  Create/Edit resource
</div>
<div id="tabs">
  <% tabs.each do |tab|  %>
    <%= render_component :"lolita/tab", :display, :tab=>tab  %>
  <% end %>
  <button><%=I18n.t("lolita.tabs.save_all")%></button>
</div>