<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.18.3, 15:11:36
%>
<% content_for :title, t(:"static_metadata.reklama.title") %>
<% content_for :keywords, t(:"static_metadata.reklama.keywords") %>
<% content_for :stylesheet do -%>
  <%= stylesheet_link_tag "public/howto_advertise" %>
<% end %>
<div id="adv-title">
  <h1><%= t(:"page_titles.howto_advertise_title") %></h1>
  <div>+371 28684141</div>
  <a href="mailto:reklama@smsbuzz.lv">reklama@smsbuzz.lv</a>
  <br class="clear" />
</div>
<%= @page.body %>

