<% content_for :title, t(:"static_metadata.reklama.title") %>
<% content_for :keywords, t(:"static_metadata.reklama.keywords") %>
<% content_for :stylesheet do -%>
  <%= stylesheet_link_tag "public/sms_reklama" %>
<% end %>
<div id="sms-reklama">
<%= @page.body %>
</div>

<div class="midbox">
  <h2>smsBuzz klienti</h2>
  <% @clients.each do |client| %>
    <%= image_tag(get_image_normal(get_main_image_or_first_by_parent(client))) %>
  <% end %>
</div>
<div class="sidebox">
   <h2>smsBuzz partneri</h2>
   <% @partners.each do |partner| %>
   <div>
      <%= image_tag(get_image_normal(get_main_image_or_first_by_parent(partner))) %>
   </div>
  <% end %>
</div>
