.ith-media-dialog-header{
    width:550px;
    height:30px;
}
.ith-media-dialog-body{
    width:550px;
    height:270px;
    overflow:scroll;
}
.ith-media-attributes{
  width:530px;
  display:block;
}
.media-image-list{
    width:126px;
    margin:5px;
    vertical-align:top;
}
.media-image-list:hover .ith-media-image-tools{
    display:inline;
}
.media-selector{
  cursor:pointer;
}
.active-media{
   background-color:yellow;
}
.ith-media-loading{
    margin-left:45%;
}
.ith-media-image-tools{
    position:absolute;
    display:none;
}
.ith-media-image-tool{
    cursor:pointer
}
.ith-media-image-tool:hover{
  font-weight:bold;
}
.ith-media-text-field{
    display:block;
    width:520px;
    margin-bottom:5px;
}
.ith-media-attributes-form{
    height:auto;
}
.ith-media-dialog-selectors{
    width:80%;
    height:100%;
    float:left;
}
.ith-media-dialog-add-new{
    width:20%;
    height:100%;
    float:left;
    text-align:right;
    cursor:pointer;
}
.ith-media-image-detail-container{
    width:100%;
}
.ith-media-image-detail-picture{
    overflow:auto;
    width:100%;
}
.ith-media-image-detail-name{
    width:100%;
    height:20px;
    text-align:right;
}
.video-item{
    vertical-align:top;
}
.video-item input{
    margin-left:4px;
}