.multiedit li
{
  padding:4px
}
.multiedit img,
.multiedit .toggle,
.multiedit .deletable
{
  cursor:pointer;
  padding-left:3px;
}
.multiedit .toggle:hover,
.multiedit .deletable:hover,
.control img:hover
{
  -moz-transform: scale(1.5);
  -webkit-transform:scale(1.5);
  zoom: 1.5;
}
.multiedit .template,
.multiedit .control
{
  display:none;
}