.picture-comment-tool{
    background:url('../images/icons/comment.png') no-repeat;
}
.picture-edit-tool{
    background:url('../images/icons/edit_picture.png') no-repeat;
}
.picture-delete-tool{
    background:url('../images/icons/delete.png') no-repeat;
}
.picture-all-sizes-tool{
    background:url('../images/icons/images.png') no-repeat;
}
.picture-detail-tool{
    background:url('../images/icons/view_detailed.png') no-repeat;
}
.picture-tool-common{
    display:block;
    width:16px;
    height:16px;
    float:left;
}
div.picture-photos-container{
    float:left;
    display:block;
    width:100%;
}
.picture-photos-main{
    float:left;
    width:130px;
    height:130px;
    display:block;
    margin-right:5px;
    margin-bottom:5px;
}
.picture-photos-functional-container{
    float:left;
    height:30px;
    width:100%;
    text-align:right;
}
.picture-photos-thumb-container{
    width:650px;
    display:block;
    margin-top:10px;
    float:left;
}
.picture-photos-thumb-container-simple{
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}
.picture_submit_tag{
    margin-top:10px;
}
.upload_field{
    height:25px;

}
.normal-picture-thumb{
    border:1px solid #0091B9;
    margin-top:3px;
    margin-left:3px;
}
.deleted-picture-thumb{
    border:1px solid #F5821F;
    margin-top:3px;
    margin-left:3px;
}
.scrollable-picture-container{
    width:650px;
    margin-bottom:5px;
    height:430px;
    overflow:auto;
}
.image-comments-count{
    font-size:8px;
}