<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.26.2, 09:30:35
%>
<div id="side">
  <h1><%= t :"profile.step1.side_title" %></h1>
  <ul>
    <li>
      <img src="/lolita/images/li-star.png" alt="" />
      <p><%= t :"profile.step1.side_star" %></p>
    </li>
    <li>
      <img src="/lolita/images/li-efel.png" alt="" />
      <p><%= t :"profile.step1.side_efel" %></p>
    </li>
    <li>
      <img src="/lolita/images/li-money.png" alt="" />
      <p><%= t :"profile.step1.side_money" %></p>
    </li>
  </ul>
</div>