%tr{:class => "nested-list"}
  %td{:colspan => 100}
    .box.nested-list
      .list
        %table
          = render_component list.columns, :page => page
      = render_component list, :paginator, :page => page